.secondCard {
  @include work-cards;
  .project {
    .image {
      position: absolute;
      right: 0;
    }
    .project-content {
      position: relative;
      text-align: left;

      ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        display: flex;
        justify-content: flex-start;

        li {
          margin-left: 0;
          margin-right: 2rem;
        }
      }
      .project-links {
        * {
          margin-right: 2rem;
        }
      }
    }
  }
}
