.zamagana-card {
  @include work-cards;
  .image {
    background-image: url("../../../img/workgllary/synth.png");
    background-size: contain;
    background-position: left;
    transform: rotateY(180deg);
    clip-path: polygon(
      20% 0%,
      100% 80%,
      80% 100%,
      80% 0%,
      100% 20%,
      20% 100%,
      0% 80%,
      0% 20%
    );
  }
  .project-description {
    @include work-description-services-box-shadow-right;
  }

  .project-links {
    * {
      text-decoration: none;
      margin-left: 2rem;
    }
  }
}
