.zamagana-card {
  @include work-cards;
  .image {
    background-image: url("../../../img/workgllary/synth.png");
    background-size: contain;

    background-position: left;
    transition: 0.5s ease-in-out;
    transform: rotateY(180deg);
    clip-path: polygon(
      20% 0%,
      100% 80%,
      80% 100%,
      80% 0%,
      100% 20%,
      20% 100%,
      0% 80%,
      0% 20%
    );
  }

  .project-description {
    transition: 0.5s ease-in-out;
    -webkit-box-shadow: 3px 4px 2px 0px #201f1fbf;
    -moz-box-shadow: 3px 4px 2px 0px #201f1fbf;
    box-shadow: 3px 4px 2px 0px #201f1fbf;

    &:hover {
      transform: scale(1.05);
      transform: translate(-0.5rem, -0.5rem);
      -webkit-box-shadow: 7px 10px 5px 0px #201f1fbf;
      -moz-box-shadow: 7px 10px 5px 0px #201f1fbf;
      box-shadow: 7px 10px 5px 0px #201f1fbf;
    }
  }
  .project-links {
    * {
      text-decoration: none;
      margin-left: 2rem;
    }
  }
}
