.services-page {
  width: 100vw;
  height: 100vh;
  background-size: 110%;
  background-position: top;
  background-image: url("../../../img/wall.jpg");
  @include flex-alignItemCenter-column;

  .row-down {
    @include servicesCardsRows;
    margin-top: 1rem;
  }
  .row-up {
    @include servicesCardsRows;
    margin-top: 2rem;
  }
  .navBar {
    border-top: 2px solid #c2363dee;
    margin: 3vw 34vw;
    font-weight: normal;
    position: absolute;
    width: 26%;
  }
}

.card {
  width: 32.5%;
  height: 15rem;
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../../../img/wood.jpg");
  @include flex-alignItemCenter-column; // could be edited
  @include work-description-services-box-shadow-right;

  .card-body {
    height: 50%;
    text-align: center;

    h5 {
      font-size: larger;
      margin: 1.5rem 0 0.5rem 0;
      @include servicesCards;
    }

    p {
      font-size: 0.9rem;
      padding: 0 2rem 0 2rem;
      @include servicesCards;
    }
  }
}
