@import "variables";

.about-page {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.bio {
  width: 70%;
  height: 100%;
  letter-spacing: 2px;
  line-height: 1.8rem;
  color: #000000cc;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/tear-drops.jpg");
  background-size: cover;
}
.first {
  border-left: $border;
  border-top: $border;
  padding: 0.5rem 0 0 1rem;
  margin: 20% 50% 2% 18%;
}
.seconde {
  border-right: $border;
  border-bottom: $border;
  padding: 0 1rem 0.5rem 0;
  margin: 0% 18% 0% 50%;
}
