.bio {
  opacity: 0;
  text-align: left;
  letter-spacing: 2px;
  line-height: 1.8rem;
  width: 20rem;
  height: 18rem;
  font-family: Arial, Helvetica, sans-serif;
}
.first {
  transform: translate(-11rem, 9.8rem);
  opacity: 1;
  transition: 1s ease-out;
}
.seconde {
  transform: translate(11rem, -5.9rem);
  opacity: 1;
  transition: 1s;
}
