@import "mixin";
@import "variables";
.max {
  width: 190%;
  border-right: 0.9px solid #c2363dee;
  transition: width 1s ease-in;
}

.hide {
  opacity: 0;
  transition: 1s;
}

.imagedCircle {
  background-image: url("../img/profile.jpg");
  background-size: cover;
  filter: grayscale(1);
  width: 12rem;
  height: 12rem;
  top: 8rem;
  right: 10rem;
  position: absolute;
  opacity: 0.7;
  border-radius: 50%;
  margin: 2rem 0 0 0rem;
  box-shadow: $box-shadow;
}

.translateName {
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 2rem;
  transform: translate(4.3rem, -9rem);
  content: "Zakaria Hamdan";
  transition: 1s ease-in;
  width: 15rem;
  color: #c2363de8;
}

.show_work-services-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 20rem;
  letter-spacing: 3px;
  opacity: 1;
  top: 70%;
  right: 4rem;
  position: absolute;
  font-size: larger;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid #c2363dee;
  padding: 0 1rem 0 1rem;

  & * {
    @include animate-anchores;
  }
}
