.homePage {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.homePageBody {
  width: 80%;
  height: 100%;
}

// ========================================================= Top NavBar ======================================================================

.navbarArea {
  width: 100%;
  height: 13%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  justify-items: center;

  .logo {
    margin-top: 1rem;
    color: #c2363dee;
    font-family: "Monoton", cursive;
    font-size: 1.6rem;
  }

  .navList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    width: 50%;
    list-style: none;

    a {
      color: #9c9c9ccb;
      letter-spacing: 0.24rem;
      line-height: 1rem;
      font-size: 1.1rem;

      &:hover {
        animation: moveListItem 2s linear infinite;
        animation-direction: alternate;
        color: #9c9c9c9a;
      }
    }
  }
}

// ============================================================= Left NavBar =====================================================================
.navLeft {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;

  .lblAbout {
    width: 3.4rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    transition: 1s ease-out;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: x-small;
    text-decoration: none;
    background: linear-gradient(
      to right,
      #9c9c9c9a 50%,
      #794244ee 25%,
      #c2363dee
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
    cursor: pointer;
    &:hover {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      background-position: -100%;
    }
    & span:hover {
      color: #c2363dee;
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  100% {
    transform: rotate(0deg);
  }
}

// ============================================================ Moving planets ==================================================================

.circles {
  height: 54%;
  width: 100%;
  display: flex;
  justify-content: center;
  .greeting {
    position: absolute;
    top: 20rem;
    left: 70.1rem;
    color: #c2363dee;
    letter-spacing: 0.25rem;
    font-size: 0.9rem;
    animation: translationGreeting 2s linear infinite alternate;
  }
  .big-circle {
    width: 12rem;
    height: 12rem;
    top: 15rem;
    right: 15rem;
    opacity: 0.7;
    border-radius: 50%;
    position: absolute;
    background: rgba(0, 0, 0, 0.555);
    animation: planet-holder 20s linear infinite;
    box-shadow: inset 0 0 0.4rem 0.2rem #9c9c9c9a,
      inset 0.1rem 0 0.1rem 0 rgba(90, 199, 199, 0.726), 0 0 1.25rem 0 #9c9c9c9a;
    .small-circle {
      width: 2.5rem;
      height: 2.5rem;
      left: 0.4rem;
      top: 0.6rem;
      font-size: 0.8rem;
      font-weight: bolder;
      border-radius: 50%;
      background: black;
      color: #c2363dee;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      animation: planet 20s linear infinite;
      box-shadow: inset 0 0 0.4rem 0.2rem #9c9c9c9a,
        inset 0.1rem 0 0.1rem 0 rgba(90, 199, 199, 0.726),
        0 0 1.25rem 0 #9c9c9c9a;
      .time-input {
        width: 2.5rem;
        text-align: center;
        background: transparent;
        border: none;
        color: rgb(238, 63, 72);
      }
    }
  }
}

//________________Animating the moving planets__________

@keyframes planet {
  0% {
    transform: rotate(360deg);
  }
}

@keyframes planet-holder {
  0% {
    transform: rotate(-360deg);
  }
}

// _________ Animating the greeting sentence and the arrow down ______

@keyframes translationGreeting {
  from {
    transform: translateX(4%);
  }
  to {
    transform: translateX(-5%);
  }
}

.fast-flicker {
  animation: shine 0.1s forwards, blink 8s 4s infinite;
}
@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    text-shadow: 0 0 0.6rem #9c9c9ccb, 0 0 1.5rem #db9296ee,
      -0.2rem 0.1rem 1rem #be5b60ee, 0.2rem 0.1rem 1rem #b1444aee,
      0 -0.5rem 2rem #a33035ee, 0 0.5rem 3rem #c2363dee;
  }
  28%,
  33% {
    text-shadow: none;
  }
  82%,
  97% {
    color: #030303ee;
    text-shadow: none;
  }
}

@keyframes shine {
  0% {
    color: #c2363dee;
    text-shadow: none;
  }
  100% {
    color: #6e6e6ecb;
    text-shadow: 0 0 0.6rem #6b6b6bcb, -0.2rem 0.1rem 1rem #be5b60ee,
      0.2rem 0.1rem 1rem #b1444aee, 0 -0.5rem 2rem #a33035ee;
  }
}

// ============================================================= Name and Description Area ========================================================

.nameArea {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  .name-info {
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 2rem;
  }
  .job-info {
    font-size: 1.2rem;
    letter-spacing: 4px;
    color: #c2363dee;
  }
}

.arrowDown {
  width: 100%;
  height: 5%;
  font-size: larger;
  font-weight: lighter;
  letter-spacing: 0.19rem;
  display: flex;
  justify-content: center;
}

.work-services-nav {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 20rem;
  letter-spacing: 3px;
  opacity: 0;
  font-size: larger;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  transform: translate(-4rem, 30rem);
  border-bottom: 2px solid #c2363dee;
}
