$text-shadow: 0 0 0.6rem #9c9c9ccb, 0 0 1.5rem #db9296ee,
  -0.2rem 0.1rem 1rem #be5b60ee, 0.2rem 0.1rem 1rem #b1444aee,
  0 -0.5rem 2rem #a33035ee, 0 0.5rem 3rem #c2363dee;

$box-shadow: inset 0 0 0.4rem 0.2rem #9c9c9c9a,
  inset 0.1rem 0 0.1rem 0 rgba(90, 199, 199, 0.726), 0 0 1.25rem 0 #9c9c9c9a;

$border: 2px solid #c2363dee;

$logos-box-shadow: inset 0 0 0.36rem 0 rgba(149, 235, 143, 0.308),
  inset 0 0 0.75rem 0 rgba(0, 0, 0, 0.9), 0 0 1.25rem 0 rgba(255, 86, 19, 0.555);
