.works-page {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  .gallery {
    width: 55vw;
    height: 70rem;
    margin-top: 10rem;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
    padding: 1rem;

    div {
      padding: 1rem;
      border: 1px solid white;
    }
    .a {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      background-image: url("https://media.giphy.com/media/xT1R9FAHPXisPeSBHO/giphy.gif");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .b {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
      background-image: url("https://media.giphy.com/media/ESxVxc9HttIDm/giphy.gif");
      background-size: cover;
    }
    .c {
      grid-row-start: 3;
      grid-row-end: 5;
    }
    .d {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 5;
    }
    .g {
      grid-column-start: 1;
      grid-column-end: 5;
      background-image: url("../img/css-drows.png");
      background-size: cover;
    }
    .h {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .i {
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }
}
