@import "./pages/home";
@import "./pages/about";
@import "./pages/work";
@import "./pages/services/cards";
@import "./pages/services/logos";
@import "./pages/contact";
@import "navBar";
@import "cursor";

body {
  color: rgba(140, 140, 140, 0.993);
  background-color: rgb(12, 12, 12);
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  cursor: none;
}
