@import "./pages/home";
@import "./pages/about";
@import "./pages/work";
@import "./pages/services/cards";
@import "./pages/services/logos";
@import "./pages/contact";
@import "navBar";
@import "cursor";

body {
  background-color: rgb(12, 12, 12);
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
