@import "home";
@import "about";
@import "dynamicallyRendered ";
@import "work";
@import "services";
@import "contact";

body {
  color: rgba(140, 140, 140, 0.993);
  background-color: rgb(12, 12, 12);
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
